
  <div class="row container">
  <table class="responsive-table col l12  bordered">
    <thead class="tableHead">
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Course Length</th>
      <th>Description</th>
    </thead>
    <tbody>
      <% courses.forEach( function(course) { %>
        <tr>
          <td>
            <a class="btn blue lighten-3" href=<%= '/courses/' + course.id %> >Show</a>
          </td>
          <td><%= course.name %></td>
          <td>$<%= course.base_price %></td>
          <td><%= course.length %></td>
          <td><%= course.description %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

</div>
