

  <div class="container row">
    <% if(course) { %>
      <div class="col l6 container">
        <img class="responsive-img" src=<%= course.image %> >
      </div>
      <div class="col l6 container" >
        <div class="courseInfo">
         <h5>$<%= course.base_price %></h5>
         <h5><%= course.length %></h5>
         <h5><%= course.description %></h5>
         <h5>instructor: <%= course.instructor %></h5>

        </div>
        <a class="btn blue lighten-3" href=<%= '/courses/'+ course.id + '/reviews'%> >Reviews</a>
     </div>
    <% } else { %>
       <h2>Course not found</h2>
    <% } %>
  </div>
